@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
    overflow:hidden;
}
body{
    background-color: rgb(37, 36, 36);
    color: white;
    display: grid;
    height: 100vh;

    grid-template-columns:5fr 1fr;
    grid-template-rows:70px 1fr 70px;
    min-width: 350px;
}
header,
nav,
main,
footer{
    /* border:1px solid grey; */
    padding: 10px;
    
}
header{
    align-self: center;
    
}
header h1{
    font-size: medium;
}
nav{
    grid-column:2;
    grid-row:1 / 4;
}

nav{
    background-color:white;
    color: rgb(37, 36, 36);
    padding:0px;
}
.nav-items{
    margin:70px auto;
    list-style:none;
}
.nav-item{
    padding:10px 10px;
    margin-bottom: 10px;

}
a,
a:link,
a:visited,
a:active{
    text-decoration: none;
    color: rgb(37, 36, 36);
}
.nav-item:hover{
    background-color: rgb(37, 36, 36);
    color: white;
}
.prof-pic,.social-icon{
    width:20%;
    height: auto;
    border-radius: 50%;

}
main h1{
    font-size:3rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer{
    align-self: center;
}
.social a img{
    background-color: white;
    width:30px;

}
.modal{
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* hidden by default */
    visibility: hidden;
    border:1px solid white;
    padding: 10px;
    background-color: white;
    color: rgb(37, 36, 36);
    z-index: 10;
}
.modal.active{
    visibility: visible;
}
.modal-header{
 margin-bottom: 10px;
 padding: 10px 0px;
 display: flex;
 justify-content: space-between;
 align-items: center;

}
.modal-body form{
    display: flex;
    flex-direction: column;

}

.modal-button{
    outline: none;
    border: none;
    font-size: 1.5rem;
    background-color: white;
    color: rgb(37, 36, 36);
    padding: 10px;
    cursor: pointer;
}
.modal-button:hover{
    background-color: rgb(37, 36, 36);
    color: white;
}


.modal-element,.modal-button{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
}
.modal-element:focus{
    outline: 1px solid rgb(37, 36, 36);;
}
#overlay{
    position: fixed;
    top: 0;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
#overlay.active{
    pointer-events: all;
    opacity: 1;
}
.contact-me-button{
    border: none;
    outline:none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: medium;
}
.contact-me-button:hover{
    background-color: white;
    padding: 10px;
    font-size: medium;
    color: rgb(37, 36, 36);
}
.music-modal .modal-body{
    padding:10px auto;
    text-align: center;
    display: block;   
    height: 400px;
    
}
.moon-bg{
    background-color: transparent;
}
.saturn-bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -50px;
    right: -50%;
    opacity: 40%;
}

@media(max-width:600px){
    .prof-pic{
        width: 30%;
    }
    body{
        grid-template-columns:1fr;
        grid-template-rows:70px 2fr 1fr;
        height: auto;
    }
    header{
        grid-row:1;
        grid-column:1;
    }
    main{
        grid-row:2;
        grid-column:1;
    }
    nav{
        grid-row:3;
        grid-column:1;
    }
    footer{
        visibility: hidden;
    }
   
} 
@media(max-width:500px){
    main h1{
        font-size: 2rem;
    }
}