@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}
.container{
    display:grid;
    grid-template-columns: 100px 4fr;
    min-height: 100vh;
}
ul li{
    list-style-type: none;
    cursor: pointer;
}
.todo, .upcoming, .completed{
    min-height: 100px;
    margin:1rem;
    min-height:100px;
    padding: 1rem;
    border-bottom: 1px solid grey;
}
main>h2{
    margin: 1rem;
}
nav{
    background-color: #0069c2;
}
main h3{
    color: grey;
    margin-bottom: 1rem;

}
li input{
    margin-right:.5rem
}

nav ul{
    padding: 0px;
    padding-bottom: 0px;
    padding-top:2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    align-items: center;
    width: 100%;
    gap: 2rem;

}

#open-add-task{
    cursor: pointer;
    position: fixed;
    right:1rem;
    top:1rem;
    padding: 1rem;
}
dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
dialog::backdrop{
    background-color: black;
    opacity: 0.2;

}