@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root{
    --primary-hex:#0069c2;
}
*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;

}
.container{
    display:grid;
    grid-template-columns: 100px 4fr;
    min-height: 100vh;
}
ul li{
    list-style-type: none;
    cursor: pointer;
}
.todo, .upcoming, .completed,.pending{
    min-height: 100px;
    margin:1rem;
    min-height:100px;
    padding: 1rem;
    border-bottom: 1px solid grey;
}
main>h2{
    margin: 1rem;
}
nav{
    background-color: var(--primary-hex);
}
main h3{
    color: grey;
    margin-bottom: 1rem;

}
li input{
    margin-right:.5rem
}

nav ul{
    padding: 0px;
    padding-bottom: 0px;
    padding-top:2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    align-items: center;
    width: 100%;
    gap: 2rem;

}
nav a:visited{
    text-decoration: none;
    color: white;
}

#open-add-task{
    cursor: pointer;
    position: fixed;
    right:1rem;
    top:1rem;
    padding: 1rem;
}
dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 0.5rem;
    min-width: 50vw;
    min-height: 200px;
}

dialog button{
    color: white;
    background-color: var(--primary-hex);
    border: none;
    padding: .4rem;
    transition: background-color 1s,box-shadow 1s;
    width: 50%;
    text-align: center;
}

dialog button:hover{
  box-shadow: 0px 0px 2px black;  
  background-color: #003a6c;
}
dialog::backdrop{
    background-color: black;
    opacity: 0.2;

}
form>*{
    margin: .75rem;
}
.form-buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    max-height: 2rem;
}
form{
    display: flex;
    flex-direction: column;
}
.delete:hover{
    color: red;
}
.todo-checkbox{
    margin-left: 1rem;
}
.dates{
    color: rgb(78, 76, 76);
    font-weight: 100;
}
.close-x{
    float: right;
    width: 2rem;
}
.task-warning-text{
    line-height: 0px;
    font-size: 0.75rem;
    color: red;
    font-weight: 100;
    margin: 0px;
    margin-left: 1rem;
    visibility: hidden;
}
.show{
    visibility: visible;
}