@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
   
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;}
body{
    
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:70px 1fr;
}
header,
.email-login,
.other-login{
    /* border: 1px solid black; */
    padding:10px;
}
header{
    grid-column: 1/3;
}
.email-login{
    grid-column: 1/2;
}
.other-login{
    grid-column:2/3;
}
@media(max-width:700px){
    body{
        grid-template-columns: 1fr; 
        grid-template-rows:70px 1fr 1fr;
    }
    header{
        grid-column: 1;
        grid-row:1;
    }
    .email-login{

        grid-column: 1;
        grid-row:2;
    }
    .other-login{
        grid-column:1;
        grid-row:3
    }
}

header{
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:0rem 0rem 1rem #a1a1a1; 
}
a{
    text-decoration: none;
}
.sign-up-button{
    outline:1px black;
    color: black;
    padding:5px 10px;
    border-radius: 7%;
    text-align: center;
    margin: 0.5rem;
    
}
.sign-up-button:hover{
    box-shadow: 0px 0px 1rem #a1a1a1;
}
.email-login,.other-login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: whi;
    
}
.email-login-box>form{
    display: flex;
    flex-direction: column;
    
}
.email-login-box,.other-login-box{
    width: 70%;
    height:50vh;
    padding: 2rem;
    box-shadow: 0px 0px 1rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-item{
    margin-bottom:1rem;
    padding: 1rem;
}
